Package: ambrizalberto
Name: ScreenBorder
Version: 0.0.6
Architecture: iphoneos-arm64
Description: An awesome MobileSubstrate tweak!
Maintainer: Alberto Ambriz AlDev
Author: Alberto Ambriz AlDev
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)