Package: ambrizalberto
Name: ScreenBorder
Version: 0.0.8
Architecture: iphoneos-arm64
Description: An awesome tweak!
Maintainer: Alberto Ambriz AlDev
Author: Alberto Ambriz AlDev
Section: Tweaks
Depends: firmware (>= 15.0)
